/* Common styles for all render devices */

@media all {
    * {
        margin: 0;
        padding: 0;
    }

    p {
        text-align: justify;
    }

    img {
        border: 0;
    }

    a:hover {
        text-decoration: none;
    }
    .details {
        display: none;
    }

    /** Standard color settings **/
    .header {
        background: #ebebfc;
    }

    body {
        background: #fff5f3;
        color: #000;
    }

    a { color: #005e9a; }

    .summary_block a {
        color: #0e11a6;
    }

    .experience_title a {
        color: #0e11a6;
    }

    .foot a {
        color: #0b0d53;
    }

    .update {
        color: #696969;
    }

    .quicklinks a {
        color: #444;
        text-decoration: none;
    }
}

