/* Desktops and laptops ----------- */

@media only screen
and (min-width : 780px) {
    /** header definition **/
        .header {
            padding: 10px;
            border-bottom: 1px dashed #555;
        }
        h1.header_title {
            float: left;
            font-size: 200%;
        }
        p.contact {
            text-align: right;
            font-style: italic;
            font-size: 85%;
        }

        /** body definitions **/
        body {
            padding: 20px;
            font-family: helvetica, sans-serif;
            font-size: 10pt;
        }

        div { margin-bottom: 10px; }

        .resume_body {
            padding: 10px;
            background: #eeF;
            border: 1px dotted #555;
            height: 100%;
        }

        .summary_block {
            left: 34px;
            padding: 4px;
        }

        .summary_block h2 {
            font-size: 150%;
            float: left;
            margin-left: 4px;
            margin-right: 50px;
            padding-bottom: 5px;
        }

        .summary {
            margin-left: 4px;
            margin-right: 4px;
        }

        .experience_block {

        }

        .experience_title {
            position: absolute;
            left: 38px;
            width: 20%;
            text-align: left;
            vertical-align: top;
        }

        .experience_title h2 {
            font-size: 125%;
        }

        .experience_details {
            position: relative;
            left: 22%;
            width: 78%;
            text-align: left;
            vertical-align: top;
            padding-bottom: 4px;
        }

        .flipper {
            text-align: right;
            font-size: 70%;
            float: right;
        }

        .details ul {
            border-bottom: 1px solid #7e7e7e;
        }

        .details li:before {
            content: "\0020 \0020 \00BB \0020";
        }

        .details li {
            display: inline;
            font-size: 80%;
        }

        .experience_details h3 {
            font-size: 110%;
            padding-top: 4px;
        }

        .experience h3 {
            font-size: 110%;
        }

        .timeframe {
            float: left;
            text-align: left;
            font-size: 80%;
        }

        .company {
            font-size: 80%;
            text-align: right;
            padding-right: 4px;
            padding-bottom: 2px;
        }

        /** foot **/
        .foot {
            font-size: 70%;
        }

        .foot p {
            text-align: right;
        }


        .update {
            font-style: italic;
        }

        .quicklinks ul, .quicklinks li {
            list-style: none;
            display: inline;
            padding: 0px;
            margin: 0px;
        }

        .quicklinks a {
            font-size: 70%;
        }
}
