/* Smaller screens, mobiles, and tablets ----------- */

@media handheld, screen and (max-width:1000px) {
    /** header definition **/
        .header {
            padding: 0px;
            border-bottom: 0px; /* dashed #555;*/
        }
        h1.header_title {
            float: none;
            font-size: 125%;
        }
        p.contact {
            text-align: left;
            font-style: italic;
            font-size: 90%;
        }

        /** body definitions **/
        body {
            padding: 0px;
            font-family: helvetica, sans-serif;
            font-size: 12pt;
        }

        div { margin-bottom: 10px; }

        .resume_body {
            padding: 2px;
            background: #eeF;
            border: 1px dotted #555;
            height: 100%;
        }

        .summary_block {
            left: 12px;
            padding: 2px;
        }

        .summary_block h2 {
            font-size: 115%;
            float: none;
            margin-left: 1px;
            margin-right: 10px;
            padding-bottom: 2px;
        }

        .summary {
            margin-left: 4px;
            margin-right: 4px;
        }

        .experience {
            background: #dedeff;
        }

        .experience_title {
            position: relative;
            left: 4px;
            width: 100%;
            text-align: left;
            vertical-align: top;
            border: 1px dashed #aeaeae;
        }

        .experience_title h2 {
            font-size: 105%;
        }

        .experience_details {
            position: relative;
            left: 4px;
            width: 95%;
            text-align: left;
            vertical-align: top;
            padding-bottom: 2px;
        }

        .flipper {
            display: none;
        }

        .details {
            display: none;
        }

        .experience_details h3 {
            font-size: 110%;
            padding-top: 4px;
        }

        .experience h3 {
            font-size: 110%;
        }

        .timeframe {
            float: none;
            text-align: left;
            font-size: 80%;
        }

        .company {
            font-size: 80%;
            text-align: left;
            padding-right: 0px;
            padding-bottom: 2px;
        }

        /** foot **/
        .foot {
            font-size: 70%;
        }

        .foot p {
            text-align: right;
        }


        .update {
            font-style: italic;
        }

        .quicklinks ul, .quicklinks li {
            list-style: none;
            display: inline;
            padding: 0px;
            margin: 0px;
        }

        .quicklinks a {
            font-size: 70%;
        }
}
