{% extends "templates/exp_atom.html"}
{% set atom_id="skills" %)
{% set atom_name="Skills" %}
{% block details %}
    <h3>Programming:</h3>
    <p>
        Python,
        C/C++,
        C# (Mono),
        Perl,
        Java,
        FORTRAN77,
        GCC, GDB,
        Subversion,
        Git, Mercurial, BZR,
        CVS, BugZilla, SourceForge,
        Visual Studio, XNA
    </p>

    <h3>Web Design:</h3>
    <p>
        HTML, XHTML, XML, CSS,
        Python,
        Perl CGI (and related modules),
        PHP,
        Java, JavaScript, JSP,
        Drupal,
        Jakarta/Tomcat
    </p>

    <h3>Operating Systems:</h3>
    <p>
        General Unix,
        General Linux,
        Debian GNU/Linux,
        Ubuntu,
        Red Hat and Fedora Linux,
        CentOS and RHEL,
        FreeBSD,
        Windows 95/98/NT/2000/XP/Vista,
        Mac OS X
    </p>

    <h3>Server Administration:</h3>
    <p>
        Apache,
        SAMBA/CIFS,
        OpenLDAP,
        Postfix/MTA,
        Amavis/ClamAV,
        Windows 2000 Server,
        MySQL
    </p>

    <h3>System Security:</h3>
    <p>
        Firewall (iptables, ipchains),
        SSH/SSL Tunnelling,
        Ethereal,
        nmap,
        TCPWrappers
    </p>

    <h3>Miscellany:</h3>
    <p>
        Microsoft Software Update Services,
        CYGWIN/MSYS,
        libSDL,
        GTK#,
        VPN,
        VNC
    </p>

{% endblock %}