{% extends "templates/exp_atom.html" %}
{% set atom_id="skills" %}
{% set atom_name="Skills" %}
{% block details %}
    <h3>Languages/Scripting:</h3>
    <p>
        Python,
        C/C++,
        C# (Mono),
        BASH/Shell,
        Perl,
        Javascript
    </p>

    <h3>Development Tools</h3>
        GCC, GDB,
        Subversion,
        Git, Mercurial, BZR,
        CVS, BugZilla, SourceForge,
        Vim, Eclipse,
        Visual Studio, XNA
    </p>

    <h3>Operating Systems:</h3>
    <p>
        General Unix,
        General Linux,
        Debian GNU/Linux,
        Ubuntu,
        Red Hat and Fedora Linux,
        CentOS and RHEL,
        SLES and openSUSE,
        Windows 95/98/NT/2000/XP/Vista/7
    </p>

    <h3>Server Administration:</h3>
    <p>
        Apache,
        SAMBA/CIFS,
        Amavis/ClamAV,
        Windows 2000 Server,
        MySQL
    </p>

    <h3>System Security:</h3>
    <p>
        SSH/SSL Tunnelling,
        Ethereal,
        nmap/Wireshark
    </p>

    <h3>Miscellany:</h3>
    <p>
        CYGWIN/MSYS,
        VNC/NX,
        Virtual Machines (w/ Linux KVM)
    </p>

{% endblock %}
