<!--- Open Source and Free Software experience segment follows -->
{% from "templates/functions.html" import secHeader %}

{{ secHeader("Open Source and Free Software Experience", "fossExp") }} 

<div class="experience_details">
  {% inlcude '2010-2012-lca.html' %}
  {% include '2008-mimicware.html' %}
  {% include '2001-2007-tux4kids.html' %}
  {% include '2004-rpmstrap.html' %}
  {% include '1999-tuxtype.html' %}
  {% include '2001-tuxmath.html' %}
  {% include '2002-tuxpaint.html' %}
  {% include '2001-aethera.html' %}
  {% include '1999-sdl.html' %}
</div>

<!--- End Open Source and Free Software  experience segment -->
