{% extends "templates/exp.html" %}
{% from "templates/functions.html" import link, list, br %}
{% block title %}Creator/Supplemental Manager{% endblock %}
{% block timeframe %}2001 - 2002{% endblock %}
{% block company %}
Tux of Math Command{{ br() }}
{{ link("http://www.newbreedsoftware.com/tuxmath/") }}
{% endblock %}
{% block desc %}
Tux of Math Command is an educational math tool
developed under Linux. Creation of initial project
idea and organization of project team including the
recruitment of Bill Kendrick to be project manager.
Provided initial game overview and graphics. Software
has since been ported to the Dish Network "Dish721"
Personal Video Recorder and is now included in that
commercial product. Tux of Math Command is a part
of the Tux4Kids Free Software project. It is
published under the GNU GPL.
{% endblock %}
