{% extends "templates/exp.html" %}
{% block title %}Lead Developer/Project Manager{% endblock %}
{% block timeframe %}Apr. 2008 - Present{% endblock %}
{% block company %}
    Mimicware<br />
    <a href="https://sourceforge.net/projects/mimicware/">https://sourceforge.net/projects/mimicware/</a>
{% endblock %}
{% block desc %}
    Mimicware is a suite of APIs created by Funavision for cross-platform,
    socially enabled video games. It includes cross-platform graphical engines,
    social network technologies, and game integration tools.
{% endblock %}
