{% extends "templates/exp.html" %}
{% from "templates/functions.html" import link, list, br %}
{% block title %}Contributor{% endblock %}
{% block timeframe %}Oct. 2010 - Jan. 2011{% endblock %}
{% block company %}
The Open Source Democracy Foundation{{ br() }}
{{ link("http://theosdf.org/") }}
{% endblock %}
{% block desc %}
The OSDF is an organization "committed to improving our government
by harnessing the Internet as a tool for education and advocacy." It
is a "political action committee" which utilities the Open Source
process. Member of the OSDF development team and contributing
member to the PAC itself.
{% endblock %}
