<!--- Work experience segment follows -->

<div class="container"><div class="row-fluid">
<div class="span3">
{% from "templates/functions.html" import secHeader %}

{{ secHeader("Experience", "workExp") }}
</div>
<div class="span9">
  {% include '2015-angieslist.html' %}
  {% include '2014-scrapinghub.html' %}
  {% include '2013-glencoe.html' %}
  {% include '2012-ge.html' %}
  {% include '2011-2012-intel.html' %}
  {% include '2008-funavision.html' %}
  {% include '2007-lf-ft.html' %}
  {% include '2007-lf-pt.html' %}
  {% include '2004-progeny.html' %}
  {% include '2003-bigman.html' %}
  {% include '2002-ua_ext.html' %}
  {% include '2001-ua_phys.html' %}
  {% include '2000-intel.html' %}
  {% include '1998-ua.html' %}
  <!--  {% include '1996-ua.html' %} -->
</div>
</div></div>

<!--- End work experience segment -->

