{% extends "templates/exp.html" %}
{% block title %}Support Systems Analyst{% endblock %}
{% block timeframe %}Oct. 2001 - Oct. 2004{% endblock %}
{% block company %}
University of Arizona Physics Department- Tucson, AZ<br />
                <a href="http://www.physics.arizona.edu/">http://www.physics.arizona.edu/</a>
                {% endblock %}
{% block desc %}
Integration and maintenance of 60-100 desktop PCs and laptops
                running various Microsoft Operating Systems, ensuring these PCs
                work well with the Unix infrastructure employed in the department,
                as well as maintenance of several Linux SAMBA, OpenLDAP, and
                terminal servers. Part of integration involved using the
                Linux-like CYGWIN environment under the Microsoft Operating
                Systems. Extensive script programming including BASH, Perl,
                and Python scripting under both Linux and Windows (CYGWIN).
                Managed graduate and undergraduate employees for maintenance
                and support of undergraduate and graduate computer labs as well
                as staff and faculty desktop pools.


{% endblock %}
{% set flipper=True %}
{% set flipper_id="uaphys2" %}
{% block flipper_contents %}
<ul>
  <li>Python development</li>
  <li>Bash/shell scripting development</li>
  <li>Makefiles and build tools</li>
  <li>Documentation meeting federal healthcare standards</li>
</ul>
{% endblock %}

