{% extends "templates/exp.html" %}
{% block title %}Consultant{% endblock %}
{% block timeframe %}Dec. 2003 - Jan. 2005{% endblock %}
{% block company %}

                Big Man Networks<br />
                Tucson, AZ

{% endblock %}
{% block desc %}


                President and principal consultant for Big Man Networks. Business
                venture specializing in custom Debian GNU/Linux server technology,
                including Anti-Spam/Anti-Viral solutions, OpenLDAP gateways, Apache
                Webservers, as well as custom programming and scripting solutions.

{% endblock %}
{% set flipper=True %}
{% set flipper_id="bigman" %}
{% block flipper_contents %}
<ul>
  <li>Python development</li>
  <li>Bash/shell scripting development</li>
  <li>Makefiles and build tools</li>
  <li>Documentation meeting federal healthcare standards</li>
</ul>
{% endblock %}

