{% extends "templates/exp.html" %}
{% block title %}PHP Consultant{% endblock %}
{% block timeframe %}Nov. 2006 - Mar. 2007{% endblock %}
{% block company %}
Linux Foundation{{ br() }}
<a href="http://www.linux-foundation.org/">http://www.linux-foundation.org/</a>
{% endblock %}
{% block desc %}
Development of a bridging PHP-based technology between an existing PHP
and MySQL based membership subscription tracking application, and a
MediaWiki seeded LDAP user information store.
{% endblock %}
{% set flipper=True %}
{% set flipper_id="lfpt" %}
{% block flipper_contents %}
<ul>
  <li>-</li>
  <li>Bash/shell scripting development</li>
  <li>Makefiles and build tools</li>
  <li>Documentation meeting federal healthcare standards</li>
</ul>
{% endblock %}

