{% extends "templates/exp.html" %}
{% from "templates/functions.html" import link, list, br %}
{% block title %}Studio Head, Lead Developer{% endblock %}
{% block timeframe %}Apr. 2008 - Oct. 2010{% endblock %}
{% block company %}
Funavision/Mimicware Inc.{{ br() }}
{{ link("http://funavision.com/") }}
{% endblock %}
{% block desc %}
Funavision Electronic Entertainment is an independent video game studio producing
socially enabled video game technologies for the Xbox 360, Google Android, and PC environments.
Company founder, project manager and lead developer for a number of video game and
multimedia projects. Manage a focused team of game engineers and testers toward
producing new and exciting video game technologies. Company operated virtually with
no central offices, thus utilizing specific remote work technologies such as distributed version
control systems, distributed issue tracking, and distributed work-flow. Lead video game
technology development for all company projects and performed development in C#, XNA, Java
C/C++ and Python.
{% endblock %}
{% set flipper=False %}
{% set flipper_id="funavision" %}
{% block flipper_contents %}
{% endblock %}
