{% extends "templates/exp.html" %}
{% block title %}Firmware Engineer{% endblock %}
{% block timeframe %}May 2012 - present{% endblock %}
{% block company %}
     GE Healthcare, Waukesha, WI{{ br() }}
     <a href="http://www.gehealthcare.com/">"http://www.gehealthcare.com</a>
{% endblock %}
{% block desc %}
  Implemented and documented a testing infrastructure utilized by firmware
  teams working on various subsystems of a CT Scanner. Integration of Linux
  based testing and development environments with VxWorks testing environments.
  Scripted framework tying multiple diverse technologies providing continuous
  integration, distributed build, test management, and virtualized workstation
  features.
{% endblock %}
{% set flipper=True %}
{% set flipper_id="funavision" %}
{% block flipper_contents %}
    <ul>
      <li>Python development</li>
      <li>Bash/shell scripting development</li>
      <li>Makefiles and build tools</li>
      <li>Documentation meeting federal healthcare standards</li>
    </ul>
{% endblock %}
