{% extends "templates/exp.html" %}
{% from "templates/functions.html" import link, list, br %}
{% block title %}Configuration and Build Manager{% endblock %}
{% block timeframe %}April 2015 - present{% endblock %}
{% block company %}
Angie's List, Indianapolis, IN{{ br() }}
{{ link("http://www.angieslist.com/") }}
{% endblock %}
{% block desc %}
  Manager responsible for build tools and processes, configuration and testing
  technologies, and repository policies and procedures. Set in place the
  branching, merge and repository workflow for the myriad of Git repositories
  in use at Angie's List. Integrated source code management tools with the
  build and test infrastructure. Managed merge queue and pull requests for
  diverse teams. Served as a liason between site-ops, dev-ops and development
  groups. Authored several Open Source tools and technologies which helped
  streamline the build and release process including git-circle, a Git
  extension for working with CircleCI. Designed and built the current
  Elasticsearch/Logstash/Kibana (ELK) stack for application and build logging.
  Responsbile for reducing the average build times from 3 hours down to 30
  minutes for our applications, and increasing the deployment velocity from
  2 deployments per day to 25 deployments per day.
{% endblock %}
{% set flipper=True %}
{% set flipper_id="ang" %}
{% block flipper_contents %}
{{ list(["Git administration",
         "Python development",
         "Build optimization",
         "Elasticsearch (ELK)",
         "Integration of build, testing and DVCS tools",
         "Docker engineering",
         "System engineering",
         "Bash/shell scripting development"]) }}
{% endblock %}
