<div class="row">
  <div class="span6">
    <h3>{% block title %}{% endblock %}</h3>
  </div>
  <div class="span6">
    <address class="text-right">
      {% block company %}
      {% endblock %}
      <p class="muted"><small>{% block timeframe %}{% endblock %}</small></p>
    </address>
  </div>
</div>
<div class="row">
  <p>
    {% block desc %}
    {% endblock %}
  </p>
  {% if flipper %}
  <div class="accordian" id="{{ flipper_id }}">
    <div class="accordian-group">
      <div class="accordian-heading">
        <a class="accordian-toggle" data-toggle="collapse" data-present="#{{ flipper_id }}" href="#{{ flipper_id}}One">
          More details
        </a>
      </div>
      <div id="{{ flipper_id}}One" class="accordian-body collapse">
        <div class="accordian-inner">
          {% block flipper_contents %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>

