{% macro link(url, text='') -%}
	{% if text == '' %}
		<a href="{{ url }}">{{ url }}</a>
	{% else %}
		<a href="{{ url }}">{{ text }}</a>
	{% endif %}
{%- endmacro %}

{% macro list(items) -%}
  <ul>
	{% for item in items %}
	  <li>{{ item }}</li>
	{% endfor %}
  </ul>
{%- endmacro %}

{% macro br() -%}
<br />
{%- endmacro %}

{% macro secHeader(title, secID, hideable=False) -%}
  <a id="{{ secID }}"><h2>{{ title }}</h2></a>
  <p class="muted"><small><a href="#top">[ Top ]</a></small></p>
{%- endmacro %}
